# Git ignore of F1-of-Linux Project
# See repository at https://github.com/danny00747/FormulaOne
# ============================================================


#CLion files

prog
.idea
cmake-build-debug
